# 14.5 点集合に対するボロノイ図の計算
　母点の集合に対する**ボロノイ図**は、空間をいくつかの領域に分割する。領域内のあらゆる点は、1つの母点に対して他の母点よりも近くに存在するという特徴がある。  
　ボロノイ図は、計算幾何学の基本的な構造であり、計算機科学、ロボット工学、地理学など多くの分野で広く活用されている。例えば地下鉄の駅に対するボロノイ図は、最も近い駅を示す。  
　このレシピでは、パリ市内の地下鉄駅に対するボロノイ図をSciPyを使って作成する。

## 準備
　パリのOpenStreetMap地図を表示するために、Smopyモジュールを使う。
 ```python
 pip install smopy
 ```
　加えて、[本書のGitHubリポジトリ](https://github.com/ipython-books/cookbook-data)からRATPデータセットをダウンロードして、カレントディレクトリに展開する。このデータは、RATP(パリ交通公団)オープンデータWebサイトから入手したものである。

## 手順
1. NumPy、pandas、matplotlib、SciPyをインポートする。

In [1]:
import numpy as np
import pandas as pd
import scipy.spatial as spatial
import matplotlib.pyplot as plt
import matplotlib.path as path
import matplotlib as mpl
import smopy
%matplotlib inline

1. データセットをpandasに読み込む。

In [2]:
df = pd.read_csv('data/ratp.csv', sep='#', header=None)

In [3]:
df[df.columns[1:]].tail(2)

              1          2             3              4     5
11609  2.301197  48.933118       TIMBAUD  GENNEVILLIERS  tram
11610  2.230144  48.913708  VICTOR BASCH       COLOMBES  tram

1. このDataFrameオブジェクトには座標、名称、市、行政区、駅の種類が記録されている。この中から地下鉄の駅をすべて取り出す。

In [4]:
metro = df[(df[5] == 'metro')]

In [5]:
metro[metro.columns[1:]].tail(3)

            1          2                     3            4      5
305  2.308041  48.841697           Volontaires  PARIS-15EME  metro
306  2.379884  48.857876  Voltaire (Léon Blum)  PARIS-11EME  metro
307  2.304651  48.883874                Wagram  PARIS-17EME  metro